<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{name}}'s Watchlist</title>
    <link rel="icon" href="{{ url_for('static', filename='selin.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css">
</head>
<body>
    <img alt="selin" class="selin" src="{{url_for('static', filename='images/selin.jpg')}}">
    <h2>
        {{user.name}}'s Watchlist
    </h2>
    <p>{{movies|length}} Titles </p>
    <ul class="movie-list">
        {% for movie in movies %}
        <li>{{movie.title}} - {{movie.year}}</li>
        {% endfor %}
    </ul>
    <img alt="yingying" class="yingying" src="{{url_for('static', filename='images/yingying.gif')}}">
    <footer>
        <small>&copy; 2025 <a href="https://www.lenovo.com.cn/">Lenovo</a></small>
    </footer>
</body>
</html>
